{% extends 'bootstrap/base.html'%}

{% block styles%}
    {{ super() }}
    <link href="https://fonts.googleapis.com/css?family=Gabriela" rel="stylesheet">
    <link rel="icon" href="../static/photos/icon.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.9/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
   
{% endblock %}
{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}
